body {
  background-color: rgb(20, 109, 65);
  color: grey;
  text-align: center;
}
body h1 {
  color: rgb(17, 56, 33);
  
}
body button {
  color: rgb(143, 136, 143);
}
div {
    background-color: pink;
}